*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 1000;
}
div#main_box{
    padding: 40px;
    background-color: lightgray;
    height: 800px;
    background-repeat: no-repeat;
    background-size: cover;
}
    div#main_box img.mini_boxes{
        display: block;
        width: 300px;
        height: 150px;
        margin-bottom: 20px;
        cursor: pointer;
    }